<launch>

    <!-- Launch the depth_raw.bag -->
    <node pkg="rosbag" type="play" name="play_depth_raw" args="--loop $(find assignment1)/bags/depth_raw.bag" />

    <!-- Launch the force_sensor.bag -->
    <node pkg="rosbag" type="play" name="play_force_sensor" args="--loop $(find assignment1)/bags/force_sensor.bag" />

    <!-- Launch the odometry.bag -->
    <node pkg="rosbag" type="play" name="play_odometry" args="--loop $(find assignment1)/bags/odometry.bag" />

    <!-- Launch the rgb_raw.bag -->
    <node pkg="rosbag" type="play" name="play_rgb_raw" args="--loop $(find assignment1)/bags/rgb_raw.bag" />

    <!-- Launch the scan_lidar.bag -->
    <node pkg="rosbag" type="play" name="play_scan_lidar" args="--loop $(find assignment1)/bags/scan_lidar.bag" />

    <!-- Launch the sonar.bag -->
    <node pkg="rosbag" type="play" name="play_sonar" args="--loop $(find assignment1)/bags/sonar.bag" />
    
    <!-- Image Processing Node -->
    <node pkg="assignment1" type="ImageProcessing.py" name="image_processing_node" output="screen"/>
    
    <!-- Object Detection Node -->
    <node pkg="assignment1" type="ObjectDetection.py" name="object_detection_node" output="screen"/>
    
    <!-- Path Planning Node -->
    <node pkg="assignment1" type="PathPlanner.py" name="path_planner_node" output="screen"/>
    
    <!-- Point Cloud Processing Node -->
    <node pkg="assignment1" type="PointCloudProcessing.py" name="point_cloud_processing_node" output="screen"/>
    
    <!-- Sensor Fusion Node -->
    <node pkg="assignment1" type="SensorFusion.py" name="sensor_fusion_node" output="screen"/>
    
    <!-- Speaker Service Node -->
    <node pkg="assignment1" type="speaker_service.py" name="speaker_service_node" output="screen"/>
    
    <!-- Structural Risk Assessment Node -->
    <node pkg="assignment1" type="StructuralRiskAssessment.py" name="structural_risk_assessment_node" output="screen" launch-prefix = "konsole -e"/>
    
    <!-- Task Execution Node -->
    <node pkg="assignment1" type="TaskExecutor.py" name="task_execution_node" output="screen"/>

    <!-- Platform_Controller Node -->
    <node pkg="assignment1" type="Platform_Controller.py" name="controller_node" output="screen"/>

    <!-- SLAM Node -->
    <node pkg="assignment1" type="SLAM.py" name="slam_node" output="screen"/>

    <!-- AudioProcessing Node -->
    <node pkg="assignment1" type="AudioProcessing.py" name="audio_processing_node" output="screen"/>


    <!-- Triage System Node -->
    <node pkg="assignment1" type="TriageSystem.py" name="triage_system_node" output="screen" launch-prefix = "konsole -e"/>
    
    <!-- Victim Detection and Reporting Node -->
    <node pkg="assignment1" type="VictimDetectionAndReporting.py" name="victim_detection_node" output="screen" launch-prefix = "konsole -e"/>

    <!-- Start test node -->
    <test test-name="integration_test" pkg="assignment1" type="integration_test.py"/>
</launch>